

.bg{
    display: flexbox;
    align-items: center;
    background-color: rgb(228, 228, 228);
    padding: 8px;
    font-family: 'inter', system-ui, sans-serif;
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imp {
    font-weight: bold;
}

.conteiner {
    gap: 32px;
    color: #2563eb;
    border-radius: 12px;
    margin-bottom: 32px;
    justify-content: center;
    background-color: white;
    padding: 12px;    
}

.conteiner button{
    background-color: #2564eb;
    border-style: none;
    padding: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.conteiner div {
    margin-top: 8px;
}
.sect {
    display: flex;

}
.sect button {
    color:aliceblue;
    min-height: 48px;
    max-height: 48px;

}
.pill {
    padding: 12px;
    max-width: fit-content;
    max-height: 48px;
    background-color: rgb(211, 234, 255) ;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.alert {
    border-left: 8px solid rgb(255, 191, 17);
    padding-left: 8px;
    border-radius: 12px;
    color: rgb(122, 92, 67);
    background-color: rgb(253, 235, 71);
    font-weight: bold;
}
.alert p {
    padding: 8px;
    max-height: fit-content;
    border-radius: 12px;
}

.title {
    border-left: 8px solid #2563eb;
    border-right: 8px solid #2563eb;
    padding-left: 8px;
    border-radius: 12px;
    color: #2563eb;
    background-color: rgb(211, 234, 255);
    font-weight: bold;
}
.title p {
    padding: 8px;
    max-height: fit-content;
    border-radius: 12px;
}


.projetos p {
    align-self: bottom;
    padding: 5px;
    background-color:rgb(211, 234, 255);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 180px;
}
.projetos h3 {
    padding: 8px; 
    background-color: rgb(211, 234, 255);
}

.projetos section {
    min-width: 140px;
    min-height: 140px;
    background-image: linear-gradient(rgb(83, 240, 83),blue);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.skills {
    margin: 0 auto 32px auto;
    color: #2563eb;
    background-color: white;
    border-radius: 12px;
    padding: 12px;
}

.skills ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-top: 10px;
}

.skills ul li {
    background-color: rgb(211, 234, 255);
    padding: 8px 12px;
    border-radius: 999px;
}

.projetos {
    color: #2563eb;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 32px auto;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    gap: 12px;
    justify-content:space-evenly;
    align-items: space-evenly;
}
.projetos div{
    min-width: 140px;
    min-height: 140px;
    border-radius: 12px;
}

.imgp {
    max-width: 140px;
    max-height: 140px;
    display: flex;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}



header{
    color: rgb(53, 53, 54); 
    align-items: center;
    gap: 32px;
    display:flex;
    flex-wrap: wrap;
    border-radius: 12px;
    margin: 0 auto 32px auto;
    background-image: linear-gradient(to left, rgba(210, 218, 255, 0),30%, rgb(250, 250, 250)), url(src/ENTENDA-AS-DIFERENCAS-ENTRE-AS-GERACOES-DE-PROCESSADORES-INTEL-1140x683.jpg);
    background-size: cover;
    padding: 32px;
    
}

header h1 {
    margin-bottom: -4px;
}

header p {
    padding-top: 12px;
}



.imgPerfil {
    border: 5px solid;
    border-color: #2563eb;
 
    width: 140px;
    height: 140px;
    border-radius: 50%;
    
}